---
import Cuadricula10x10 from "./Cuadricula10x10.astro";
import Cuadricula5x5 from "./Cuadricula5x5.astro";
import Contactanos from "@components/principal/Contactanos.astro";
---

<section class="overflow-hidden pb-12 border-y-principal-500 border-4 px-8">
    <div class="container mx-auto">
        <div class="-mx-4 flex flex-wrap items-center justify-between">
            <div class="w-full px-4 lg:w-6/12">
                <div class="-mx-3 flex items-center sm:-mx-4">
                    <div class="w-full px-3 sm:px-4 xl:w-1/2">
                        <div class="py-3 sm:py-4">
                            <h2 class="text-primary mb-2 block h2 font-semibold text-2xl">Sobre mi</h2>
                            <h2 class="text-primary mb-2 block h2 font-semibold text-2xl lg:text-3xl md:text-3xl">AnibaL Cayetano</h2>
                            <p
                                class="text-principal mb-8 text-lg indent-8"
                            >
                            Egresado de ingeniería de sistemas. Actuamente recido en el distrito de carabayllo. Mis inicios en el mundo del desarrollo fue maquetando páginas responsive luego, páginas con wordpress y finalmente sistemas web usando framework de PHP como: Codeigniter, Laravel y Magento.
                            </p>
                            <div class="mt-5 hidden lg:flex xl:flex md:flex">
                                <Contactanos />
                            </div>
                        </div>
                    </div>
                    <div class="w-full px-3 sm:px-4 xl:w-1/2">
                        <div class="relative z-10 my-4">
                            <img
                                src="/imagenes/cajasinicio/nosotros-lideres.png"
                                alt="Somos lideres"
                                class="w-full rounded-2xl hover:scale-110"
                            />
                            <span class="absolute -right-7 -bottom-7 z-[-1]">
                                <Cuadricula10x10 ancho="134" alto="106" />
                            </span>
                        </div>
                        <div class="mt-5 lg:hidden md:hidden">
                            <Contactanos />
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full px-4 lg:w-1/2 xl:w-6/12">
                <div class="mt-10">
                    <span class="text-primary mb-2 block text-lg font-semibold">
                        <svg
                            class="text-principal-400 w-6 h-6 inline-block"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="#00004c"
                            viewBox="0 0 256 256"
                            ><path
                                d="m192.97 35.026 9.178-13.106a6 6 0 0 1 9.83 6.883l-9.177 13.106a6 6 0 0 1-9.83-6.883Zm-21.818-2.505a5.993 5.993 0 0 0 7.349-4.243l4.142-15.454A6 6 0 0 0 171.05 9.72l-4.142 15.454a6.001 6.001 0 0 0 4.243 7.348Zm36.099 66.61a78.372 78.372 0 0 1-14.06 95.766 78.006 78.006 0 0 1-140.754 12.091l-37-64.086a23.98 23.98 0 0 1 20.793-35.987l-3.615-6.262a23.984 23.984 0 0 1 17.286-35.737A24 24 0 0 1 91.27 43.108a23.971 23.971 0 0 1 41.804-.455l15.616 27.049a23.987 23.987 0 0 1 41.561-.015Zm-30.105 35.857-17-29.445a12 12 0 1 0-20.785 12l16 27.713a6 6 0 1 1-10.392 6l-42-72.746a12 12 0 1 0-20.784 12l30 51.962a6 6 0 0 1-10.393 6l-38-65.819a12 12 0 1 0-20.784 12l38 65.819a6 6 0 1 1-10.393 6l-23.999-41.568v-.002a12 12 0 0 0-20.786 12l37 64.086a66 66 0 1 0 114.316-66Zm58.408-89.493a6 6 0 0 0-8.357-1.474L214.091 53.2a6 6 0 1 0 6.883 9.83l13.106-9.177a6 6 0 0 0 1.474-8.357Z"
                            ></path></svg
                        >
                        , Hola bienvenido, mi nombre es <b>ANIBAL</b>
                    </span>
                    <span
                        id="element"
                        class="text-principal mb-8 text-3xl font-bold sm:text-4xl h2"
                    ></span>
                    <p
                        class="text-principal text-base mb-4 text-lg indent-8"
                    >
                    Soy un <b>Back End developer</b> <b>JUNIOR</b> con experiencia en el desarrollo de software pero, con sólidos conicimientos en el Front End. Busco colaborar en una posición como desarrollador web ya que, recientemente he practicado NodeJs, <b>Express</b>, Fastify, swagger, zod, MySQL, postgreSQL, Docker y <b>AWS</b>.
                    </p>
                    <div class="-mx-3 flex items-center sm:-mx-4">
                        <div class="w-full px-3 sm:px-4 xl:w-1/2">
                            <p class="text-principal mb-4 text-lg">
                                Refencia para contacto
                            </p>
                            <a
                                target="_blank"
                                title="Enlace a la página de facebook"
                                href="mailto:main.anibal.cayetano@gmail.com"
                                class="relative inline-block items-center justify-start px-6 py-3 overflow-hidden font-medium transition-all bg-white rounded hover:bg-white group"
                            >
                                <span
                                    class="w-48 h-48 rounded rotate-[-40deg] bg-principal-600 absolute bottom-0 left-0 -translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"
                                ></span>
                                <span
                                    class="relative w-full text-left text-black transition-colors duration-300 ease-in-out group-hover:text-white"
                                >
                                    <svg
                                        stroke="currentColor"
                                        fill="currentColor"
                                        stroke-width="0"
                                        role="img"
                                        viewBox="0 0 24 24"
                                        class="lg:w-10 lg:h-10 md:w-10 md:h-10 w-5 h-5"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <title></title>
                                        <path
                                            d="M24 5.457v13.909c0 .904-.732 1.636-1.636 1.636h-3.819V11.73L12 16.64l-6.545-4.91v9.273H1.636A1.636 1.636 0 0 1 0 19.366V5.457c0-2.023 2.309-3.178 3.927-1.964L5.455 4.64 12 9.548l6.545-4.91 1.528-1.145C21.69 2.28 24 3.434 24 5.457z"
                                        >
                                        </path>
                                    </svg>
                                </span>
                            </a>
                            <a                                
                                target="_blank"
                                href="https://github.com/loxi1"
                                title="Enlace a la página de Github"
                                class="relative inline-block items-center justify-start px-3 lg:px-3 md:px-3 py-3 overflow-hidden font-medium transition-all bg-white rounded hover:bg-white group"
                            >
                                <span
                                    class="w-48 h-48 rounded rotate-[-40deg] bg-principal-600 absolute bottom-0 left-0 -translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"
                                ></span>
                                <span
                                    class="relative w-full text-left text-black transition-colors duration-300 ease-in-out group-hover:text-white"
                                >
                                    <svg
                                        stroke="currentColor"
                                        fill="currentColor"
                                        stroke-width="0"
                                        viewBox="0 0 448 512"
                                        class="lg:w-10 lg:h-10 md:w-10 md:h-10 w-5 h-5"
                                        xmlns="http://www.w3.org/2000/svg"
                                        ><path
                                            d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zM277.3 415.7c-8.4 1.5-11.5-3.7-11.5-8 0-5.4.2-33 .2-55.3 0-15.6-5.2-25.5-11.3-30.7 37-4.1 76-9.2 76-73.1 0-18.2-6.5-27.3-17.1-39 1.7-4.3 7.4-22-1.7-45-13.9-4.3-45.7 17.9-45.7 17.9-13.2-3.7-27.5-5.6-41.6-5.6-14.1 0-28.4 1.9-41.6 5.6 0 0-31.8-22.2-45.7-17.9-9.1 22.9-3.5 40.6-1.7 45-10.6 11.7-15.6 20.8-15.6 39 0 63.6 37.3 69 74.3 73.1-4.8 4.3-9.1 11.7-10.6 22.3-9.5 4.3-33.8 11.7-48.3-13.9-9.1-15.8-25.5-17.1-25.5-17.1-16.2-.2-1.1 10.2-1.1 10.2 10.8 5 18.4 24.2 18.4 24.2 9.7 29.7 56.1 19.7 56.1 19.7 0 13.9.2 36.5.2 40.6 0 4.3-3 9.5-11.5 8-66-22.1-112.2-84.9-112.2-158.3 0-91.8 70.2-161.5 162-161.5S388 165.6 388 257.4c.1 73.4-44.7 136.3-110.7 158.3zm-98.1-61.1c-1.9.4-3.7-.4-3.9-1.7-.2-1.5 1.1-2.8 3-3.2 1.9-.2 3.7.6 3.9 1.9.3 1.3-1 2.6-3 3zm-9.5-.9c0 1.3-1.5 2.4-3.5 2.4-2.2.2-3.7-.9-3.7-2.4 0-1.3 1.5-2.4 3.5-2.4 1.9-.2 3.7.9 3.7 2.4zm-13.7-1.1c-.4 1.3-2.4 1.9-4.1 1.3-1.9-.4-3.2-1.9-2.8-3.2.4-1.3 2.4-1.9 4.1-1.5 2 .6 3.3 2.1 2.8 3.4zm-12.3-5.4c-.9 1.1-2.8.9-4.3-.6-1.5-1.3-1.9-3.2-.9-4.1.9-1.1 2.8-.9 4.3.6 1.3 1.3 1.8 3.3.9 4.1zm-9.1-9.1c-.9.6-2.6 0-3.7-1.5s-1.1-3.2 0-3.9c1.1-.9 2.8-.2 3.7 1.3 1.1 1.5 1.1 3.3 0 4.1zm-6.5-9.7c-.9.9-2.4.4-3.5-.6-1.1-1.3-1.3-2.8-.4-3.5.9-.9 2.4-.4 3.5.6 1.1 1.3 1.3 2.8.4 3.5zm-6.7-7.4c-.4.9-1.7 1.1-2.8.4-1.3-.6-1.9-1.7-1.5-2.6.4-.6 1.5-.9 2.8-.4 1.3.7 1.9 1.8 1.5 2.6z"
                                        ></path>
                                    </svg>
                                </span>
                            </a>
                            <a                                
                                target="_blank"
                                href="https://www.linkedin.com/in/jose-anibal-cayetano-meza/"
                                title="Enlace a la página de Linkedin"
                                class="relative inline-block items-center justify-start px-6 py-3 overflow-hidden font-medium transition-all bg-white rounded hover:bg-white group"
                            >
                                <span
                                    class="w-32 h-32 rounded rotate-[-40deg] bg-principal-600 absolute bottom-0 left-0 -translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-5 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"
                                ></span>
                                <span
                                    class="relative w-full text-left text-black transition-colors duration-300 ease-in-out group-hover:text-white"
                                >
                                <svg
                                stroke="currentColor"
                                fill="currentColor"
                                stroke-width="0"
                                viewBox="0 0 448 512"
                                class="lg:w-10 lg:h-10 md:w-10 md:h-10 w-5 h-5"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
                                ></path></svg
                            >
                                </span>
                            </a>
                        </div>
                        <div class="w-full px-3 sm:px-4 xl:w-1/2">
                            <p class="text-principal mb-4 text-lg">
                                Habilidades
                            </p>
                            <div class="grid gap-x-2 gap-y-2 grid-cols-5">
                                
                                <div class="p-1 border-2 border-principal rounded-lg">
                                    <svg class="w-full h-full hover:scale-125" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_110_37)">
                                        <path d="M49.5786 100C48.2394 100 46.9094 99.6487 45.7354 98.9727L33.5022 91.7302C31.6751 90.7084 32.5667 90.347 33.1693 90.1388C35.6055 89.2858 36.0998 89.0932 38.7002 87.6164C38.9735 87.4605 39.3313 87.5155 39.611 87.6806L49.009 93.2574C49.3484 93.4409 49.8299 93.4409 50.1445 93.2574L86.788 72.106C87.1274 71.9134 87.3475 71.519 87.3475 71.1154V28.8309C87.3475 28.409 87.1274 28.0329 86.7807 27.822L50.1519 6.68892C49.8125 6.48713 49.363 6.48713 49.0237 6.68892L12.4022 27.822C12.0472 28.0238 11.8216 28.4182 11.8216 28.8218V71.1062C11.8216 71.5098 12.0417 71.895 12.3903 72.0877L22.4248 77.8846C27.8732 80.6088 31.2027 77.3984 31.2027 74.1698V32.4357C31.2027 31.8395 31.6705 31.3808 32.2667 31.3808H36.9079C37.4858 31.3808 37.9627 31.8395 37.9627 32.4357V74.1881C37.9627 81.4526 34.0003 85.626 27.1119 85.626C24.9931 85.626 23.3237 85.626 18.6642 83.3329L9.05155 77.7929C6.67592 76.417 5.20834 73.8488 5.20834 71.1062V28.8218C5.20834 26.0701 6.67592 23.5018 9.05155 22.1443L45.7317 0.983733C48.0523 -0.327911 51.1342 -0.327911 53.4365 0.983733L90.0708 22.1535C92.4372 23.5202 93.914 26.0792 93.914 28.8309V71.1154C93.914 73.8579 92.4372 76.417 90.0708 77.7929L53.4365 98.9534C52.2624 99.6322 50.9324 99.9807 49.5749 99.9807L49.5786 100ZM60.8973 70.8632C44.864 70.8632 41.5024 63.5033 41.5024 57.3303C41.5024 56.7433 41.9756 56.2755 42.5636 56.2755H47.2965C47.8193 56.2755 48.2596 56.6561 48.3422 57.1725C49.0576 61.9953 51.1856 64.4279 60.8807 64.4279C68.6038 64.4279 71.8875 62.6833 71.8875 58.5878C71.8875 56.2305 70.952 54.4786 58.9546 53.3046C48.92 52.3139 42.7195 50.1034 42.7195 42.0776C42.7195 34.6847 48.9567 30.282 59.404 30.282C71.1354 30.282 76.9507 34.3545 77.6845 43.1049C77.712 43.4076 77.6019 43.7011 77.4001 43.9213C77.1983 44.1322 76.914 44.2606 76.6205 44.2606H71.86C71.3647 44.2606 70.9336 43.9121 70.8327 43.4351C69.6862 38.3628 66.9161 36.7393 59.3857 36.7393C50.9563 36.7393 49.9748 39.6745 49.9748 41.8758C49.9748 44.545 51.1305 45.3246 62.5042 46.8289C73.7679 48.324 79.1153 50.4336 79.1153 58.3493C79.1153 66.3293 72.4562 70.9063 60.8441 70.9063L60.8973 70.8632Z" fill="#689F63"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_110_37">
                                        <rect class="w-full h-full" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>                                                                                
                                </div>
                                <div class="p-1 border-2 border-principal rounded-lg">
                                    <svg class="w-full h-full hover:scale-125" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_110_27)">
                                        <path d="M0 0H100V100H0V0Z" fill="#F7DF1E"/>
                                        <path d="M26.2936 83.5673L33.9463 78.936C35.4227 81.5536 36.7657 83.7684 39.9871 83.7684C43.075 83.7684 45.0219 82.5605 45.0219 77.8621V45.9097H54.4193V77.9949C54.4193 87.7282 48.7139 92.1586 40.39 92.1586C32.8723 92.1586 28.5085 88.2651 26.2935 83.5665" fill="black"/>
                                        <path d="M59.5238 82.5604L67.1756 78.1301C69.1898 81.4196 71.8078 83.8359 76.4392 83.8359C80.333 83.8359 82.816 81.8891 82.816 79.204C82.816 75.982 80.2654 74.8407 75.9692 72.9618L73.6205 71.9542C66.8403 69.0683 62.3427 65.4435 62.3427 57.791C62.3427 50.7428 67.7127 45.3724 76.1038 45.3724C82.0781 45.3724 86.3741 47.4535 89.4616 52.8909L82.1448 57.5894C80.5336 54.7032 78.7889 53.5623 76.104 53.5623C73.3517 53.5623 71.6063 55.3075 71.6063 57.5894C71.6063 60.4088 73.3517 61.5502 77.3789 63.2956L79.7281 64.3024C87.7162 67.7261 92.2138 71.2162 92.2138 79.0697C92.2138 87.5281 85.5684 92.1594 76.6408 92.1594C67.9144 92.1594 62.2755 87.9978 59.5238 82.5604Z" fill="black"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_110_27">
                                        <rect class="w-full h-full" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>                                        
                                </div>
                                
                                <div class="p-1 border-2 border-principal rounded-lg">
                                    <svg class="w-full h-full hover:scale-125" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><g clip-path="url(#a)"><path fill="#000" d="M90.746 75.974 56.452 3.145A5.504 5.504 0 0 0 51.765.012a5.442 5.442 0 0 0-5.01 2.597L9.559 62.854a5.634 5.634 0 0 0 .062 6.048l18.186 28.161a5.849 5.849 0 0 0 6.568 2.416l52.774-15.61a5.784 5.784 0 0 0 3.632-3.136 5.659 5.659 0 0 0-.032-4.762l-.003.003Zm-7.678 3.123L38.286 92.34c-1.366.407-2.677-.777-2.393-2.156l16-76.608c.299-1.433 2.278-1.66 2.904-.334l29.617 62.895a2.139 2.139 0 0 1-1.348 2.961h.002Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h100v100H0z"/></clipPath></defs></svg>
                                </div>
                                <div class="p-1 border-2 border-principal rounded-lg">
                                    <svg class="w-full h-full hover:scale-125" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M28.125 42.8125C31.0417 31.1458 38.3333 25.3125 50 25.3125C67.5 25.3125 69.6875 38.4375 78.4375 40.625C84.2708 42.0833 89.375 39.8958 93.75 34.0625C90.8333 45.7292 83.5417 51.5625 71.875 51.5625C54.375 51.5625 52.1875 38.4375 43.4375 36.25C37.6042 34.7917 32.5 36.9792 28.125 42.8125ZM6.25 69.0625C9.16667 57.3958 16.4583 51.5625 28.125 51.5625C45.625 51.5625 47.8125 64.6875 56.5625 66.875C62.3958 68.3333 67.5 66.1458 71.875 60.3125C68.9583 71.9792 61.6667 77.8125 50 77.8125C32.5 77.8125 30.3125 64.6875 21.5625 62.5C15.7292 61.0417 10.625 63.2292 6.25 69.0625Z" fill="#44A8B3"/>
                                    </svg>                                        
                                </div>
                                <div class="p-1 border-2 border-principal rounded-lg">
                                    <svg class="w-full h-full hover:scale-125" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12.5 64.375C12.5 64.375 25.3906 58.125 38.2812 58.125L47.9688 28.2031C48.3594 26.6406 49.375 25.7031 50.5469 25.7031C51.7969 25.7031 52.8906 26.7187 53.2031 28.2031L62.8906 58.125C78.2031 58.125 88.6719 64.375 88.6719 64.375L66.7969 5C66.1719 3.20313 65.0781 2.10938 63.6719 2.10938H37.5C36.0938 2.10938 35.0781 3.20313 34.375 5L12.5 64.375Z" fill="black"/>
                                        <path d="M37.2656 83.6719C32.9687 79.7656 31.6406 71.4062 33.4375 65.3906C36.5625 69.2188 40.9375 70.3906 45.4687 71.0938C52.4218 72.1094 59.2187 71.7188 65.7031 68.5938L67.8906 67.2656C68.7331 70.1299 68.6421 73.188 67.6308 75.9971C66.6195 78.8062 64.7404 81.2206 62.2656 82.8906L57.9687 85.8594C53.5937 88.8281 52.3437 92.2656 54.0625 97.3438L54.2187 97.8906C52.081 97.0136 50.2759 95.482 49.0625 93.5156C47.7495 91.5198 47.0439 89.1858 47.0312 86.7969C47.0312 85.625 47.0312 84.4531 46.875 83.2813C46.4843 80.3906 45.1562 79.1406 42.5781 79.0625C40 78.9844 37.9687 80.625 37.4218 83.125L37.2656 83.6719Z" fill="url(#paint0_linear_110_32)"/>
                                        <defs>
                                        <linearGradient id="paint0_linear_110_32" x1="50.5468" y1="93.125" x2="60.4687" y2="60.4687" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#D83333"/>
                                        <stop offset="1" stop-color="#F041FF"/>
                                        </linearGradient>
                                        </defs>
                                    </svg>                                        
                                </div>
                                <div class="p-1 border-2 border-principal rounded-lg">
                                    <svg class="w-full h-full hover:scale-125" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_111_43)">
                                        <path d="M100.537 97.55L98.4208 95.5333C97.375 94.1541 96.2625 92.9333 95.05 91.8208L95.0292 91.8042C93.7847 90.6736 92.4917 89.5986 91.15 88.5792C90.075 87.8403 88.5972 86.95 86.7167 85.9083C85.1708 85.2125 83.9625 83.9917 83.3083 82.475L83.2917 82.4333L83.0917 82.3333C83.975 82.2458 84.7833 82.0833 85.5583 81.8542L85.4625 81.8791L87.8375 81.225C88.8208 80.9166 89.9583 80.7166 91.1375 80.6708H91.1625C92.4042 80.6208 93.575 80.4208 94.6917 80.0917L94.5875 80.1167C95.1264 79.9833 95.6806 79.8319 96.25 79.6625C96.8194 79.493 97.3069 79.3417 97.7125 79.2083V78.5041C97.3097 77.9014 96.8222 77.2125 96.25 76.4375C95.7042 75.6958 95.0917 75.05 94.4042 74.4875L94.3833 74.4708C92.6361 72.9264 90.8264 71.4319 88.9542 69.9875C87.3042 68.7 85.4333 67.3875 83.4917 66.1708L83.2083 66.0041C82.1833 65.3291 81.0083 64.7041 79.7708 64.1916L79.6292 64.1416C78.3847 63.6361 77.1583 63.0819 75.95 62.4791C75.5458 62.2791 75.075 62.1041 74.5875 61.9833L74.5417 61.975C74.0542 61.875 73.6375 61.625 73.3333 61.2708L73.3292 61.2666C72.7542 60.5083 72.25 59.6458 71.85 58.7291L71.8167 58.6458C71.4139 57.7041 70.9778 56.8 70.5083 55.9333C69.5 53.9833 68.525 52.0014 67.5833 49.9875C66.6417 47.9736 65.7375 45.9569 64.8708 43.9375C64.2681 42.593 63.7139 41.25 63.2083 39.9083C62.65 38.4333 62.0208 37.1708 61.2875 35.9833L61.3417 36.0791C59.5417 33.0125 57.7458 30.3958 55.7958 27.9083L55.9125 28.0666C53.9833 25.6333 51.9833 23.4583 49.8333 21.4416L49.8 21.4125C47.6792 19.4208 45.3958 17.5208 43 15.7625L42.7958 15.6166C40.3069 13.8083 37.5847 12.0278 34.6292 10.275C33.4417 9.57498 32.0625 9.00415 30.6083 8.63748L30.5 8.61248L25.8625 7.45415L23.2417 7.25415C22.3694 7.18748 21.4958 7.15415 20.6208 7.15415C20.0042 6.82915 19.475 6.44165 19.0083 5.99165C18.55 5.55415 18.0542 5.14165 17.5375 4.76248L17.4958 4.73332C14.975 3.26248 12.0458 1.91665 8.98333 0.858317L8.62917 0.749984C7.825 0.27915 6.85833 0.00415039 5.82917 0.00415039C5.09583 0.00415039 4.39167 0.145817 3.75 0.399984L3.7875 0.387484C2.20417 1.01665 0.995834 2.29582 0.475 3.88748L0.4625 3.92915C0.158334 4.64582 -0.0166664 5.47498 -0.0166664 6.34998C-0.0166664 7.88332 0.525 9.28748 1.42917 10.3833L1.42083 10.3708C2.93194 12.3847 4.09028 13.968 4.89583 15.1208C5.49861 15.9291 6.12083 16.7694 6.7625 17.6417C7.35 18.425 7.87083 19.3208 8.29167 20.2666L8.325 20.3542C8.55833 20.85 8.7625 21.4416 8.9125 22.05L8.925 22.1167C9.05833 22.6889 9.22639 23.3111 9.42917 23.9833C10.0319 25.5278 10.6028 27.1111 11.1417 28.7333C11.7292 30.5041 12.3792 32.0041 13.1333 33.4333L13.0542 33.2667C13.4569 34.0055 13.8611 34.7278 14.2667 35.4333C14.6722 36.1389 15.1083 36.8278 15.575 37.5C15.8458 37.9083 16.1875 38.2458 16.5792 38.5083L16.5917 38.5166C17.0042 38.8166 17.275 39.2875 17.2958 39.8208C16.8208 40.5208 16.5 41.3625 16.3917 42.2666L16.3875 42.2916C16.2417 43.3458 16.0333 44.2833 15.75 45.1875L15.7833 45.0625C14.8542 47.8375 14.3208 51.0375 14.3208 54.3583C14.3208 55.4333 14.375 56.4916 14.4875 57.5375L14.475 57.4083C14.725 61.4 15.9292 65.0667 17.8583 68.2417L17.8 68.1375C18.6208 69.3667 19.5 70.4375 20.4708 71.4166C21.1708 72.2 22.1875 72.6916 23.3208 72.6916C23.9542 72.6916 24.5542 72.5375 25.0792 72.2625L25.0583 72.2708C26.5167 71.7458 27.5542 70.4125 27.6292 68.825V68.8167C27.8292 66.8417 28.1292 65.075 28.5417 63.35L28.4875 63.6291C28.5875 63.3666 28.6458 63.0666 28.6458 62.75C28.6458 62.6875 28.6417 62.625 28.6375 62.5625V62.5708C28.6042 62.268 28.7889 61.9819 29.1917 61.7125V61.9125C29.5944 62.8541 30.0139 63.7944 30.45 64.7333C30.8861 65.6722 31.3389 66.6125 31.8083 67.5541C33.0375 69.425 34.3417 71.0583 35.775 72.5625L35.7625 72.55C37.2 74.1 38.7667 75.4917 40.4583 76.7208L40.55 76.7833C41.4333 77.4583 42.2083 78.1875 42.9083 78.9833L42.925 79C43.5833 79.775 44.3708 80.4125 45.2583 80.8916L45.3 80.9125V80.8125H45.5C45.3375 80.45 45.075 80.1583 44.75 79.9583L44.7417 79.9541C44.4125 79.7708 44.1292 79.5875 43.8625 79.3875L43.8833 79.4C43.2806 78.7972 42.6583 78.125 42.0167 77.3833C41.375 76.6417 40.7875 75.9361 40.2542 75.2666C38.8431 73.3166 37.4972 71.2792 36.2167 69.1542C34.9361 67.0292 33.7264 64.8694 32.5875 62.675C32.0486 61.6 31.5278 60.4916 31.025 59.35C30.5222 58.2083 30.0347 57.1 29.5625 56.025C29.3583 55.6125 29.2167 55.1375 29.1625 54.6333V54.6125C29.1375 54.1333 28.8625 53.7208 28.4625 53.5083L28.4542 53.5041C27.95 54.3625 27.3917 55.1041 26.7542 55.775L26.7583 55.7708C26.0958 56.4666 25.5542 57.2875 25.1667 58.1875L25.1458 58.2416C24.5583 59.6666 24.1292 61.3208 23.9417 63.05L23.9333 63.1291C23.7333 64.9097 23.5319 66.7403 23.3292 68.6208L23.1292 68.7208L23.0292 68.8208C21.9458 68.6 21.0542 67.9083 20.5708 66.975L20.5625 66.9542C20.0569 65.9792 19.6042 65.0208 19.2042 64.0791C18.1708 61.425 17.5292 58.3541 17.4417 55.1458V55.1083C17.4042 54.6 17.3875 54.0041 17.3875 53.4083C17.3875 50.6333 17.825 47.9583 18.6333 45.45L18.5833 45.6333C18.7833 44.8944 19.2194 43.65 19.8917 41.9C20.5639 40.15 20.6986 38.9403 20.2958 38.2708C20.0875 37.5833 19.7 37.0041 19.1917 36.5625L19.1875 36.5583C18.6792 36.1166 18.2167 35.6541 17.7917 35.1625L17.7792 35.1458C17.3097 34.468 16.8569 33.7458 16.4208 32.9791C15.9847 32.2125 15.5986 31.4569 15.2625 30.7125C14.575 29.1208 13.8708 27.125 13.2875 25.075L13.1958 24.7041C12.5333 22.35 11.7958 20.3583 10.9208 18.4417L11.0292 18.7083C10.5667 17.6583 10.0292 16.75 9.40417 15.9208L9.42917 15.9542C8.75139 15.0486 8.14583 14.1916 7.6125 13.3833C6.93472 12.5111 6.2625 11.6708 5.59583 10.8625C4.91667 10.0417 4.3125 9.11665 3.82083 8.12498L3.78333 8.04165C3.58333 7.63748 3.40833 7.16665 3.2875 6.67915L3.27917 6.63332C3.23333 6.48748 3.20833 6.31665 3.20833 6.14582C3.20833 5.80415 3.30833 5.48332 3.48333 5.21665L3.47917 5.22498C3.525 4.99165 3.63333 4.78748 3.78333 4.62082C3.94583 4.47498 4.15417 4.36665 4.37917 4.32082H4.3875C4.74167 4.09165 5.17083 3.95415 5.6375 3.95415C5.9875 3.95415 6.325 4.03332 6.62083 4.17498L6.60833 4.17082C7.52083 4.42915 8.25833 4.68748 8.97917 4.98332L8.82917 4.92915C10.1042 5.46804 11.2806 5.98887 12.3583 6.49165C13.6 7.08332 14.6583 7.70832 15.6583 8.40415L15.5833 8.35415C16.1222 8.69026 16.6597 9.05971 17.1958 9.46248C17.7319 9.86526 18.3028 10.2694 18.9083 10.675H20.3208C21.3958 10.675 22.5375 10.7264 23.7458 10.8292C24.9667 10.925 26.0958 11.1542 27.1708 11.5125L27.0708 11.4833C29.075 12.0792 30.7958 12.7833 32.4292 13.6291L32.2583 13.55C33.9056 14.3889 35.4681 15.2791 36.9458 16.2208C39.4 17.75 41.5208 19.3166 43.5167 21.0291L43.4458 20.9708C45.5292 22.7541 47.4208 24.5833 49.1958 26.5166L49.2375 26.5666C50.9708 28.4583 52.625 30.5125 54.1375 32.6667L54.2667 32.8625C55.6583 34.8291 57.0625 37.1041 58.325 39.4625L58.5 39.8166C58.8375 40.4583 59.1792 41.2458 59.475 42.05L59.5208 42.1875C59.7903 42.9597 60.0917 43.7514 60.425 44.5625C61.1639 46.243 61.9556 47.9389 62.8 49.65C63.6444 51.3611 64.4361 53.025 65.175 54.6416L67.3917 59.4791C68.1708 61.1708 69.0417 62.6291 70.0542 63.975L70.0083 63.9125C70.8542 64.8166 71.9833 65.45 73.25 65.6708L73.2833 65.675C74.8167 66.0583 76.1083 66.4916 77.3583 67.0041L77.1625 66.9333C77.7583 67.2041 78.525 67.4917 79.3125 67.7458L79.4792 67.7917C80.3625 68.0625 81.1292 68.4208 81.8333 68.8708L81.7958 68.85C83.1583 69.6125 84.3125 70.3625 85.4125 71.1792L85.325 71.1167C86.4667 71.9555 87.6083 72.7472 88.75 73.4917C89.2889 73.8944 90.1931 74.4819 91.4625 75.2542C92.7319 76.0264 93.4042 76.7486 93.4792 77.4208C93.0042 77.4041 92.4417 77.3916 91.8792 77.3916C89.8292 77.3916 87.8125 77.525 85.8375 77.7833L86.0708 77.7583C83.8375 78.0583 81.8125 78.6041 79.9083 79.3833L80.075 79.325C79.6042 79.5292 79.0417 79.7166 78.4583 79.8625L78.3792 79.8791C77.7875 79.9666 77.3292 80.4416 77.2708 81.0333C77.525 81.35 77.7292 81.7208 77.8667 82.1208L77.875 82.1458C78.0167 82.5708 78.1875 82.9375 78.3958 83.2791L78.3833 83.2542C78.8792 84.1333 79.4125 84.8916 80.0125 85.5916L79.9958 85.5708C80.5833 86.2958 81.2458 86.925 81.9792 87.4625L82.0083 87.4833C82.6861 88.0222 83.3917 88.5764 84.125 89.1458C84.7958 89.6708 85.5542 90.1875 86.3417 90.6541L86.4417 90.7083C87.625 91.4333 89 92.125 90.4333 92.7042L90.625 92.7708C92.1833 93.3958 93.5208 94.1208 94.7625 94.9833L94.6958 94.9375C95.5042 95.4069 96.3097 95.9278 97.1125 96.5C97.9153 97.0722 98.6875 97.6264 99.4292 98.1625C99.7333 98.4625 100 98.7958 100.225 99.1583L100.237 99.1791C100.617 99.6125 101.142 99.9083 101.737 99.9833H101.75V99.7833C101.383 99.5041 101.112 99.1166 100.983 98.6708L100.979 98.6541C100.875 98.2291 100.721 97.8583 100.512 97.5166L100.521 97.5333L100.537 97.55ZM23.1375 17.5291C22.5986 17.5291 22.0944 17.5458 21.625 17.5791C21.1458 17.6125 20.7 17.7 20.2792 17.8417L20.3167 17.8291V17.9291H20.5167C20.7861 18.3319 21.125 18.7847 21.5333 19.2875C21.9417 19.7903 22.3111 20.2778 22.6417 20.75L24.2542 24.075L24.4542 23.975C24.925 23.6333 25.2875 23.175 25.5042 22.6375L25.5125 22.6166C25.7292 22.0375 25.8542 21.3625 25.8542 20.6625C25.8542 20.5875 25.8542 20.5125 25.85 20.4375V20.45C25.6625 20.2666 25.5083 20.05 25.4 19.8083L25.3958 19.7958L25.0583 19.0375C24.8375 18.6875 24.5292 18.4125 24.1667 18.2375L24.1542 18.2333C23.7625 18.0458 23.4292 17.8083 23.1375 17.5291Z" fill="black"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_111_43">
                                        <rect class="w-full h-full" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>                                        
                                </div>

                                <div class="p-1 border-2 border-principal rounded-lg">
                                    <svg class="w-full h-full hover:scale-125" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="#000" d="M98.11 59.881c-.582-1.76-2.106-2.987-4.075-3.282-.929-.138-1.993-.08-3.251.18-2.194.453-3.822.625-5.01.658 4.484-7.57 8.13-16.202 10.229-24.328 3.394-13.14 1.58-19.126-.54-21.834C89.856 4.11 81.673.26 71.8.141c-5.266-.064-9.89.975-12.301 1.723-2.246-.396-4.66-.617-7.193-.658-4.75-.076-8.945.96-12.53 3.087a57.13 57.13 0 0 0-8.85-2.221C22.275.652 15.302 1.758 10.2 5.362c-6.177 4.362-9.04 11.942-8.51 22.53.168 3.361 2.048 13.588 5.009 23.287 1.701 5.575 3.516 10.205 5.393 13.762 2.661 5.043 5.51 8.013 8.707 9.08 1.792.597 5.048 1.015 8.473-1.837.434.526 1.013 1.048 1.781 1.533.976.616 2.17 1.119 3.362 1.417 4.296 1.074 8.32.805 11.753-.7.021.61.037 1.194.05 1.698.024.817.046 1.618.076 2.367.204 5.066.548 9.005 1.57 11.761.056.152.131.383.21.628.51 1.56 1.362 4.171 3.53 6.216 2.244 2.119 4.959 2.768 7.445 2.768 1.247 0 2.437-.163 3.48-.387 3.72-.797 7.944-2.011 11-6.363 2.89-4.114 4.294-10.31 4.549-20.072l.092-.79.06-.517.681.06.176.012c3.788.172 8.421-.63 11.266-1.953 2.248-1.043 9.452-4.846 7.756-9.98Z"/><path fill="#336791" d="M91.631 60.88c-11.265 2.323-12.04-1.49-12.04-1.49 11.894-17.65 16.867-40.052 12.576-45.535-11.706-14.957-31.97-7.883-32.308-7.7l-.108.02c-2.226-.462-4.716-.737-7.516-.783-5.097-.083-8.964 1.336-11.898 3.561 0 0-36.148-14.891-34.466 18.73.357 7.151 10.251 54.118 22.052 39.932 4.313-5.188 8.481-9.574 8.481-9.574 2.07 1.375 4.548 2.077 7.146 1.825l.202-.171c-.063.644-.035 1.273.08 2.02-3.04 3.396-2.146 3.992-8.224 5.243-6.15 1.268-2.537 3.524-.178 4.114 2.86.715 9.474 1.728 13.944-4.53l-.178.714c1.191.955 2.028 6.206 1.887 10.967-.14 4.76-.233 8.03.705 10.582.939 2.553 1.874 8.298 9.864 6.586 6.675-1.43 10.134-5.138 10.616-11.322.341-4.396 1.114-3.746 1.163-7.677l.62-1.86c.715-5.96.113-7.883 4.226-6.989l1 .088c3.026.138 6.989-.487 9.314-1.567 5.007-2.324 7.976-6.204 3.04-5.184Z"/><path fill="#fff" d="M42.453 30.88c-1.015-.14-1.934-.01-2.4.342a.88.88 0 0 0-.364.586c-.058.419.235.881.415 1.12.51.676 1.255 1.14 1.992 1.242.107.016.213.022.319.022 1.229 0 2.347-.957 2.445-1.663.123-.885-1.161-1.475-2.407-1.648Zm33.63.029c-.097-.694-1.33-.892-2.502-.729-1.17.163-2.304.691-2.209 1.386.076.54 1.052 1.463 2.207 1.463.098 0 .196-.006.296-.02.77-.107 1.337-.596 1.606-.879.409-.43.646-.91.602-1.221Z"/><path fill="#fff" d="M95.38 60.615c-.43-1.298-1.813-1.716-4.11-1.242-6.82 1.408-9.262.433-10.064-.158 5.301-8.076 9.662-17.838 12.015-26.946 1.114-4.314 1.73-8.32 1.78-11.587.056-3.584-.555-6.218-1.814-7.827C88.111 6.367 80.66 2.887 71.641 2.793c-6.2-.07-11.44 1.517-12.455 1.963a31.05 31.05 0 0 0-7.008-.9c-4.654-.075-8.678 1.039-12.01 3.31a53.607 53.607 0 0 0-9.758-2.558c-7.907-1.273-14.19-.309-18.672 2.867-5.35 3.79-7.82 10.566-7.341 20.137.16 3.22 1.995 13.126 4.89 22.613C13.1 62.71 17.243 69.779 21.603 71.234c.51.17 1.098.289 1.747.289 1.59 0 3.54-.717 5.568-3.156a200.667 200.667 0 0 1 7.675-8.684 12.365 12.365 0 0 0 5.521 1.485l.014.15c-.332.396-.657.797-.974 1.204-1.334 1.693-1.612 2.046-5.906 2.93-1.222.252-4.466.92-4.514 3.195-.051 2.485 3.836 3.528 4.278 3.639 1.543.386 3.03.577 4.448.577 3.448 0 6.483-1.133 8.908-3.326-.075 8.858.294 17.587 1.358 20.246.871 2.178 3 7.498 9.721 7.498.987 0 2.072-.115 3.267-.37 7.015-1.505 10.062-4.605 11.24-11.441.63-3.654 1.713-12.378 2.222-17.057 1.074.335 2.457.489 3.952.488 3.119 0 6.717-.662 8.973-1.71 2.535-1.177 7.11-4.066 6.28-6.576Zm-16.707-31.62c-.023 1.38-.213 2.635-.415 3.944-.217 1.408-.441 2.864-.498 4.63-.056 1.72.16 3.508.367 5.237.42 3.493.85 7.088-.817 10.636-.277-.49-.523-.998-.738-1.519-.208-.502-.658-1.309-1.28-2.425-2.425-4.347-8.1-14.527-5.195-18.68.866-1.237 3.062-2.508 8.576-1.824ZM71.989 5.59c8.081.179 14.474 3.202 19 8.985 3.47 4.436-.352 24.62-11.417 42.034a65.541 65.541 0 0 0-.336-.423l-.14-.175c2.86-4.723 2.3-9.395 1.803-13.538-.205-1.7-.398-3.305-.349-4.814.051-1.598.263-2.97.467-4.295.251-1.634.507-3.324.436-5.317.053-.21.074-.456.047-.75-.18-1.91-2.362-7.63-6.81-12.806-2.432-2.832-5.979-6-10.823-8.137 2.084-.432 4.933-.835 8.122-.764ZM26.77 66.582c-2.234 2.688-3.778 2.172-4.285 2.004-3.307-1.103-7.144-8.093-10.527-19.176-2.927-9.59-4.638-19.234-4.774-21.938-.427-8.552 1.646-14.513 6.163-17.716 7.35-5.212 19.434-2.092 24.29-.51-.07.07-.143.133-.212.204-7.968 8.047-7.78 21.795-7.76 22.636 0 .324.027.783.064 1.414.137 2.313.393 6.617-.29 11.49-.633 4.53.764 8.963 3.83 12.163.316.328.646.64.992.935a204.968 204.968 0 0 0-7.49 8.494Zm8.515-11.36c-2.472-2.58-3.594-6.168-3.08-9.845.72-5.149.454-9.633.31-12.042-.02-.337-.037-.632-.047-.865 1.164-1.033 6.558-3.923 10.405-3.041 1.755.402 2.825 1.597 3.27 3.653 2.301 10.645.304 15.082-1.3 18.648-.33.734-.643 1.428-.91 2.147l-.207.555c-.523 1.404-1.01 2.709-1.312 3.948-2.628-.007-5.185-1.13-7.129-3.159Zm.404 14.356c-.768-.192-1.458-.525-1.863-.801.338-.16.94-.376 1.984-.591 5.052-1.04 5.832-1.774 7.536-3.937.39-.496.834-1.058 1.447-1.743v-.001c.914-1.023 1.332-.85 2.09-.535.613.254 1.211 1.023 1.454 1.87.114.4.243 1.16-.178 1.75-3.56 4.984-8.746 4.92-12.47 3.988ZM62.128 94.18c-6.18 1.324-8.369-1.83-9.811-5.434-.93-2.328-1.388-12.822-1.064-24.412a1.396 1.396 0 0 0-.06-.443 5.866 5.866 0 0 0-.172-.82c-.483-1.686-1.66-3.096-3.07-3.681-.56-.232-1.59-.658-2.826-.342.264-1.087.72-2.313 1.217-3.642l.208-.559c.234-.63.528-1.282.838-1.973 1.68-3.73 3.979-8.84 1.483-20.383-.935-4.323-4.057-6.434-8.79-5.944-2.836.294-5.432 1.438-6.727 2.095-.278.14-.533.277-.77.41.36-4.357 1.726-12.497 6.833-17.648 3.215-3.243 7.497-4.844 12.715-4.758 10.28.168 16.872 5.444 20.593 9.84 3.206 3.79 4.942 7.605 5.635 9.664-5.21-.53-8.754.498-10.55 3.066-3.908 5.587 2.138 16.43 5.043 21.64.533.955.993 1.78 1.138 2.131.946 2.293 2.171 3.824 3.065 4.942.275.342.54.675.743.965-1.578.455-4.413 1.506-4.154 6.76-.209 2.636-1.69 14.98-2.443 19.34-.993 5.762-3.113 7.908-9.074 9.186Zm25.797-29.522c-1.614.75-4.314 1.311-6.88 1.432-2.833.132-4.275-.318-4.615-.594-.159-3.275 1.06-3.617 2.35-3.979.202-.057.4-.112.59-.179.12.097.25.192.392.286 2.277 1.503 6.339 1.666 12.073.482l.063-.013c-.773.723-2.097 1.694-3.973 2.565Z"/></svg>                                                                                
                                </div>
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var typed = new Typed("#element", {
        strings: ["!", "Soy un desarrollador web."],
        typeSpeed: 100,
        loop: true,
        loopCount: Infinity,
    });
</script>
