---
import Cuadricula10x10 from "./Cuadricula10x10.astro";
import Cuadricula5x5 from "./Cuadricula5x5.astro";
import Contactanos from "@components/principal/Contactanos.astro";
import Habilidades from "@components/inicio/Habilidades.astro";
---

<section class="overflow-hidden pb-12 border-y-principal-500 border-4 px-8">
    <div class="container mx-auto">
        <div class="lg:grid lg:grid-cols-3 md:grid md:grid-cols-3 gap-8">
            <div class="lg:col-span-1 md:order-3 mb-10">
                <span class="text-primary mb-2 block text-lg font-semibold">
                    <svg
                        class="text-principal-400 w-6 h-6 inline-block"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#00004c"
                        viewBox="0 0 256 256"
                        ><path
                            d="m192.97 35.026 9.178-13.106a6 6 0 0 1 9.83 6.883l-9.177 13.106a6 6 0 0 1-9.83-6.883Zm-21.818-2.505a5.993 5.993 0 0 0 7.349-4.243l4.142-15.454A6 6 0 0 0 171.05 9.72l-4.142 15.454a6.001 6.001 0 0 0 4.243 7.348Zm36.099 66.61a78.372 78.372 0 0 1-14.06 95.766 78.006 78.006 0 0 1-140.754 12.091l-37-64.086a23.98 23.98 0 0 1 20.793-35.987l-3.615-6.262a23.984 23.984 0 0 1 17.286-35.737A24 24 0 0 1 91.27 43.108a23.971 23.971 0 0 1 41.804-.455l15.616 27.049a23.987 23.987 0 0 1 41.561-.015Zm-30.105 35.857-17-29.445a12 12 0 1 0-20.785 12l16 27.713a6 6 0 1 1-10.392 6l-42-72.746a12 12 0 1 0-20.784 12l30 51.962a6 6 0 0 1-10.393 6l-38-65.819a12 12 0 1 0-20.784 12l38 65.819a6 6 0 1 1-10.393 6l-23.999-41.568v-.002a12 12 0 0 0-20.786 12l37 64.086a66 66 0 1 0 114.316-66Zm58.408-89.493a6 6 0 0 0-8.357-1.474L214.091 53.2a6 6 0 1 0 6.883 9.83l13.106-9.177a6 6 0 0 0 1.474-8.357Z"
                        ></path></svg
                    >
                    , Hola bienvenido, mi nombre es <b>ANIBAL</b>
                </span>
                <span
                    id="element"
                    class="text-principal mb-8 text-3xl font-bold sm:text-4xl h2"
                ></span>
                <p
                    class="text-principal text-base mb-4 text-lg indent-8"
                >
                Soy un <b>Back End developer</b> <b>JUNIOR</b> con experiencia en el desarrollo de software pero, con sólidos conicimientos en el Front End. Busco colaborar en una posición como programador web ya que, recientemente he practicado NodeJs, <b>Express</b>, Fastify, swagger, zod, MySQL, postgreSQL, Docker y <b>AWS</b>.
                </p>
                <div class="md:grid md:grid-cols-2 lg:grid lg:grid-cols-2 grid-cols-1 gap-4">
                    <div class="w-full order-2">                        
                        <div class="mt-5 lg:hidden xl:hidden md:hidden">
                            <Contactanos />
                        </div>           
                    </div>
                    <div class="w-full order -1">
                        <div class="grid gap-4 lg:gap-1 md:gap-1 grid-cols-4">
                            <Habilidades />
                        </div>                                                      
                    </div>
                </div>
            </div>
            <div class="lg:col-span-1 md:order-2 mb-10 hidden lg:flex md:flex">
                <div class="relative z-10 my-4">
                    <img
                        src="/imagenes/cajasinicio/nosotros-lideres.png"
                        alt="Contáctanos"
                        class="w-full rounded-2xl hover:scale-110"
                    />
                    <span class="absolute -right-7 -bottom-7 z-[-1]">
                        <Cuadricula10x10 ancho="134" alto="106" />
                    </span>
                </div>
            </div>
            <div class="lg:col-span-1 md:order-1 mb-10">
                <h2 class="text-primary mb-2 block h2 font-semibold text-2xl">Sobre mi</h2>
                <h2 class="text-primary mb-2 block h2 font-semibold text-2xl lg:text-3xl md:text-3xl">AnibaL Cayetano</h2>
                <p class="text-principal mb-8 text-lg indent-8"
                >
                Egresado de ingeniería de sistemas. Actuamente recido en el distrito de carabayllo. Mis inicios en el mundo del desarrollo fue maquetando páginas responsive luego, páginas con wordpress y finalmente sistemas web usando framework de PHP como: Codeigniter, Laravel y Magento.
                </p>
                <div class="mt-5 hidden lg:flex xl:flex md:flex">
                    <Contactanos />
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var typed = new Typed("#element", {
        strings: ["!", "Soy un programador web."],
        typeSpeed: 100,
        loop: true,
        loopCount: Infinity,
    });
</script>
